// $background-primary: global rgb(24,20,35);
// $background-secondary: global rgb(24,20,35);

// $font-primary: global white;

// $main-green: global #1DB954;

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.App {
  --background-primary: #121212;
  --background-secondary: rgb(24,20,35);
  --background-tertiary: #ffffff;

  --background-harmony: #231814;

  --border-primary: rgb(247, 233, 209);

  --font-primary: white;

  --main-green: #1DB954;

  height: 100vh;
  color: var(--font-primary);
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;

  .options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    // background-color: red;
    height: 60%;
    width: 100%;

    .option-C {
      display: flex;
      flex-direction: column;
      gap: 15px;
      // justify-content: space-around;

      .option-card {
        height: 70px;
        width: 150px;
        background-color: rgba(255, 255, 255, 0.925);
        color: black;
        border-radius: 12px;
        padding: 10px;

        span {
          font-size: 18px;
          font-weight: 700;
          font-family: 'Gloria Hallelujah', cursive;
        }
      }
    }
  }

}