.item-container {
  // background-color: blue;
  height: 70vh;


  .item-body {
    margin-top: 25px;
    background-color: var(--background-harmony);
    background-image: url('../../public/image/dark-tire.png');
    height: 100%;
    width: 88vw;
    display: flex;
    flex-direction: column;
    border-radius: 36px;
    border: 5px solid var(--border-primary);


    .arm {
      position: absolute;
      object-fit: cover;
      height: 120px;

      // top: 28%;
      // left: 71%;
      // rotate: -48deg;

      top: 28%;
      left: 65%;
      rotate: -22deg;
      filter: drop-shadow(0 0 0.2em rgb(194, 193, 193));
    }

    .button-container {
      margin: 20px auto 0 auto;
      width: 90%;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      background-color: #ffffffea;
      border-radius: 12px 12px 24px 24px;

      button {
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 17px;
        height: 50px;
      }

    }

    .item-info-container {
      margin-top: 25px;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .image-container {
        height: 280px;
        width: 280px;
        border-radius: 50%;
        border: 5px rgba(255, 255, 255, 0.479) solid;
        background-color: black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        animation: fadeIn 1s forwards;

        // &::after {
        //   content: '';
        //   display: inline-block;
        //   position: absolute;
        //   left: 38.5vw;
        //   top: 37vh;
        //   height: 80px;
        //   width: 80px;
        //   border-radius: 50%;
        //   background-color: rgb(218, 218, 218);
        //   border: 3px rgb(48, 48, 48) solid;
        // }

        .disc-img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 280px;
          width: 280px;
          object-fit: cover;
          border-radius: 50%;
          animation: spinDisc 10s linear infinite;
        }


      }

      .item-loading-container {
        color: rgb(255, 255, 255);
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        white-space: nowrap;
        margin-top: 10px;
        margin-left: 22%;

        .loading-text {
          margin: 10px 0 0 0;
          height: 35px;
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 22px;
          font-weight: bold;
          margin-right: 5px;
        }

        .dot-animation {
          text-align: center;
          margin: 10px 0 0 0;
          height: 35px;
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 22px;
          font-weight: bold;
          overflow: hidden;

          animation: typewriter 4s steps(4) infinite;
          animation-fill-mode: both;
        }
      }

      .item-details {
        color: rgb(255, 255, 255);
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        white-space: nowrap;
        margin-top: 10px;

        overflow: hidden;

        .song-name {
          margin: 10px 0 0 0;
          height: 35px;
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 22px;
          font-weight: bold;
        }

        .song-name-long {
          position: relative;
          margin: 10px 0 0 0;
          height: 35px;
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 22px;
          font-weight: bold;

          animation: longNameRoll 13s infinite linear;
          animation-delay: 0.5s;
        }

        .song-name-max {
          position: relative;
          margin: 10px 0 0 0;
          height: 35px;
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 22px;
          font-weight: bold;

          animation: maxNameRoll 22s infinite linear;
          animation-delay: 0.5s;
        }

        .song-artist {
          margin: 2px 0;
          font-family: 'Gloria Hallelujah', cursive;
          font-size: 16px;
        }
      }

    }
  }
}

.neu-button {
  padding: 0.5em 1em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: rgb(39, 39, 39);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
    -6px -6px 10px rgba(255, 255, 255, .5),
    6px 6px 8px rgba(255, 255, 255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0);

  &:active {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
      -2px -2px 4px rgba(255, 255, 255, .4),
      2px 2px 2px rgba(255, 255, 255, .05),
      2px 2px 4px rgba(0, 0, 0, .1);
  }
}







@keyframes spinDisc {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  50% {
    width: 23px;
  }

  100% {
    width: 0;
  }
}

@keyframes longNameRoll {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  40% {
    left: -250px;
  }

  60% {
    left: -250px;
  }

  90% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes maxNameRoll {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  40% {
    left: -400px;
  }

  60% {
    left: -400px;
  }

  90% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

@keyframes armLoadVynl {
  from {
    left: 71%;
    rotate: -48deg;
  }
  to {
    left: 65%;
    rotate: -22deg;
  }

}